html {
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: 100%;
}

:root {
  --navbar-grey: rgb(76, 76, 76);
  --backing-grey: rgb(120, 120, 120);
  --selected-grey: rgb(171, 171, 171);
  --selected-orange: rgb(255, 98, 0);
  --alt-grey: rgb(137, 137, 137);
}

.alt-grey {
  background-color: var(--alt-grey);
}

.b-right {
  border-right: 1px solid black;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--backing-grey);
}

.title-bar {
  display: flex;
  align-items: center;
  height: 1.5rem;
  background-color: var(--navbar-grey);
  color: snow;
  padding: 0 0.3rem;
  font-size: 0.8rem;
  border-bottom: 1px solid black;
  width: 100%;
}

.tab-container {
  height: 2rem;
  display: flex;
}

.tab {
  text-transform: uppercase;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: snow;
  border-bottom: 1px solid black;
}

.selected-tab {
  background-color: var(--selected-grey);
  border-bottom-color: var(--selected-grey);
  font-weight: bold;
}

.button {
  text-transform: uppercase;
  font-size: 0.7rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 2rem;
  border: 1px solid black;
  margin-top: 0.8rem;
  border-radius: 0.6rem;
  background-color: var(--backing-grey);
  color: snow;
}
.button:active {
  /* background-color: var(--selected-orange); */
  color: var(--selected-orange);
  border: 2px solid var(--selected-orange);
}

.menu {
  display: none;
  background-color: var(--selected-grey);
  border-bottom: 1px solid black;
}

.search-menu {
  height: 8rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
    .filter-container {
      width: 90%;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-top: 0.5rem;
    }

    .filter-container label {
      font-size: 0.85rem;
      padding-right: 1rem;
      padding-bottom: 0.1rem;
      border-bottom: 1px dotted black;
    }

    .filter-container select, .filter-container input {
      height: 1.2rem;
      width: 100%;
    }

    #reset-filter-btn {
      height: 1.5rem;
    }


.edit-menu, .add-menu {
  display: none;
  height: 12rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
    .input-container {
      width: 85%;
      display: flex;
      flex-direction: row;
      
      align-items: center;
      padding-top: 0.5rem;
    }

    .input-container label {
      flex-grow: 1;
      text-transform: uppercase;
      font-size: 0.85rem;

      padding-bottom: 0.1rem;
      border-bottom: 1px dotted black;
    }

    .input-container select, .input-container input {
      flex-grow: 6;
      max-width: 60%;
      height: 1.2rem;
    }


.delete-menu {
  display: none;
  height: 6rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
    .delete-message {
      text-align: center;
      width: 80%;
    }

    .delete-button {
      background-color: rgb(149, 16, 16);
    }

    .delete-button:active {
      border-color: black;
      background-color: red;
      color: white;
    }

.selected-menu {
  display: flex;
}

.results-bar {
  justify-content: space-between;
}

.showing-container {
  display: flex;
  flex-direction: row;
  height: 0.5rem;
}

.showing-counter {
  font-size: 0.6rem;
  color: snow;
}

.circle-button {
  display: inline-block;
  border: 1px solid white;
  border-radius: 50%;
  height: 0.7rem;
  width: 0.7rem;
  margin-left: 0.2rem;
  transition: 0.2s;
}

.active-circle {
  background-color: white;
}

.search-results-container {
  overflow: auto;
  background-color: var(--backing-grey);
}

.table-container {
  display: none;
  flex-direction: column;
  margin-bottom: 2rem;
}

.person-row  {
  font-size: 0.8rem;
  display: flex;
  border-bottom: 1px solid black;
}

.cell {
  padding: 0.3rem;
  /* width: 25%; */
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.cell-name, .cell-location {
  width: 23%;
}

.cell-department, .cell-job-title {
  width: 27%;
}

.selected-row {
  background-color: var(--selected-orange);
  color: white;
  border: 2px solid black;
}


.card-container {
  display: none;
  flex-wrap: wrap;
  justify-content: flex-start; /* center */
  padding: 0.1rem;
  padding-left: 0.4rem;
  overflow: auto;
  background-color: var(--backing-grey);
  /* Margin makes sure Edit Tabs don't cover up search results. */
  margin-bottom: 2rem;
}

.selected-results-container {
  display: flex;
}

.person-card {
  display: none;
  font-size: 0.8rem;
  margin: 0.1rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  height: 9rem;
  width: 32%;
  max-width: 12rem;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  background-color: white;
}

.selected-card {
  border: 2px solid black;
  background-color: var(--selected-orange);
}

.card-data {
  width: 100%;
  padding: 0.1rem;
  overflow-wrap: break-word;
}

.card-name {
  margin: 0.1rem 0;
  font-size: 0.9rem;
  font-weight: bold;
  text-decoration: underline;
}

.card-email {
  font-size: 0.5rem;
  border-bottom: 1px dotted black;
}

.card-department {
  font-size: 0.7rem;
  font-style: italic;
}

.card-location {
  font-weight: bold;
  text-transform: uppercase;
}

/* BOTTOM TABS AND MENUS */
.bottom-tab-container {
  z-index: 2;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2rem;
  background-color: var(--navbar-grey);
}

.bottom-tab {
  text-transform: uppercase;
  z-index: 2;
  font-size: 0.8rem;
  color: snow;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  border-top: 2px solid black;
}
    .selected-bottom-tab {
      border-top-color: var(--selected-grey);
      background-color: var(--selected-grey);
      color: black;
      font-weight: bold;
    }


.bottom-menu {
  display: none;
  z-index: 1;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid black;
  /* border-top: 2px solid black; */
  background-color: var(--selected-grey);
}
    .selected-bottom-menu {
      display: flex;
    }

.edit-departments-menu {
  height: 12rem;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.edit-locations-menu {
  height: 10.3rem;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}